<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c884ab5724.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/app.css">
    <title>VOICES</title>
</head>

<body class="w-full h-sreen">

    % # main page
    <div class="flex w-4/5 mx-auto">

        % # left
        <div class="w-1/4">
            <div class="fixed h-screen w-1/5 px-8 flex flex-col py-6">
                <div class="">
                    <div class="">
                        <i class="fa-brands fa-twitter fa-fw text-4xl text-blue1"></i>
                    </div>
                    <div class="">
                        % for tab in tabs:
                        <div class="mt-6">
                            <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                                <i class="{{tab['icon']}}"></i>
                                <span class="ml-2">{{tab['title']}}</span>
                            </a>
                        </div>
                        % end
                    </div>
                    <button class="mt-8 w-full py-2 text-lg text-white bg-blue1 rounded-full">
            Tweet
          </button>
                </div>
                <div class="mt-auto bg-slate-400">
                    x
                </div>
            </div>
        </div>
        % # end left % # center
        <div class="w-2/4 min-h-screen border-x border-gray-300">

            <div class="p-4">
                <form class="relative" onsubmit="return false">
                    <i class="fas fa-search absolute top-4 left-4"></i>
                    <input class="w-full h-12 px-4 rounded-full placeholder:text-gray-700 bg-gray-100 pl-12 outline-none" type="text" placeholder="What are you interested in ?">
                </form>
            </div>

            <div class="px-4">
                <form class="flex relative p-4 border border-blue1 rounded" onsubmit="return false">
                    <input class="w-full h-12 text-gray-800 rounded outline-none placeholder:text-gray-800" type="text" placeholder="What is in your mind ?">
                    <button class="absolute bottom-2 right-2 px-8 py-2 bg-blue2 text-white rounded-full">
            Tweet
          </button>
                </form>
            </div>

            <div class="voices mt-4">
                % for tweet in tweets:
                <div class="p-4 border-t border-slate-200">
                    <div class="flex">
                        <img class="flex-none w-12 h-12 rounded-full" src="/images/{{tweet['src']}}" alt="">
                        <div class="w-full pl-4">
                            <p class="font-bold">
                                @{{tweet["user_name"]}}
                            </p>
                            <p class="font-thin">
                                {{tweet["user_first_name"]}} {{tweet["user_last_name"]}}
                            </p>
                            <div class="pt-2">
                                {{tweet["text"]}}
                            </div>
                            % if 'image' in tweet:
                            <img class="mt-2 w-full object-cover h-80" src="/images/{{tweet['image']}}"> % end
                            <div class="flex gap-12 w-full mt-4 text-lg">
                                <i class="fa-solid fa-message ml-auto"></i>
                                <i class="fa-solid fa-heart"></i>
                                <i class="fa-solid fa-retweet"></i>
                                <i class="fa-solid fa-share-nodes"></i>
                            </div>
                        </div>
                    </div>
                </div>
                % end
            </div>
        </div>
        % # end center % # right
        <div class="w-1/4 h-screen">
            <div class="w-1/5 fixed flex flex-col h-screen gap-4 py-4 pl-4">
                <div class="h-1/2 flex-grow bg-gray-300 rounded">
                    1
                </div>
                <div class="h-1/2 bg-gray-300 rounded">
                    2
                </div>
            </div>
        </div>
        % # end right

    </div>
    % # end page

</body>

</html>